/* raleway */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
/* snippet */
@font-face {
  font-family: 'AppFont';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Dosis-Light.ttf') format('truetype');
}
